{% extends 'base.html.twig' %}

{% block body %}
    </p>
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-header">{{sweet.name}}</div>
      <div class="card-body">
          <img style="height: 200px; width: 100%; display: block;" src={{sweet.image}} alt="Image de {{sweet.name}}">
      </div>
    </div>
    <h4 text-align = "center"> Liste des ingrédients : </h4>
      <div class = "ing">
        <ul>
        {% for ingredient in  sweet.ingredients %} 
          <li> {{ingredient.name}} </li>
        {% endfor %}
        </ul>
      </div>
    <h4 text-align ="center"> Options : </h4>
    <a href="{{path("edit", {"id" : sweet.id})}}" class ="btn btn-warning">Modifier la pâtisserie</a>
    </p>
    </p>
    <a href="{{path("listIngredients")}}" class ="btn btn-primary">Liste des ingrédients</a>
{% endblock %}